@model IEnumerable<TemplateDriven.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Locations </h2>

<p>
    @Html.ActionLink("Add New Location", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Location Name
        </th>
        <th>
            Total No. of Cars
        </th>
        <th>
            Available vehicles for Booking
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Location_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total_Cars)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total_Cars_Available)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Location_Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Location_Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Location_Id })
    </td>
</tr>
}

</table>
